nav a:hover,
nav a:focus {
  text-decoration: underline;
}
.skip a {
    position: absolute;
    top: -40px;
  }
.skip a:focus {
    top: 20px;
  }
*:focus {
    outline: 2px solid blue;
    color: blue;
  }
body {
    background-color: #037ac1; 
    color: white; 
}
a.skip:focus{
    background: white;
    padding: 6px;
}
h1 {
    font-size: 30px;
    font-family: Georgia, Arial, sans-serif;
    text-align: center;
}
h2 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h3 {
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
}
p {
    line-height: 2;
  }
li {
    display: inline-block;
    margin-left: 50px;
  }

/* MOBILE USERS: */
  @media screen and (max-width: 600px) {
/* Adjust the layout for screens with a maximum width of 600px */
    nav ul {
      flex-direction: column;
    }
    img {
        max-width: 100%;
        height: auto;
      }
    h1 {
        font-size: 2rem;
      }
      
    p {
        font-size: 1.2rem;
      }  
    /* Animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Apply animation only when 'prefers-reduced-motion' is not enabled */
    @media (prefers-reduced-motion: no-preference) {
        h1,
        p {
            animation: fadeIn 1s ease-in-out;
        }
    }
    @media (prefers-reduced-motion: reduce) {
        img[src$=".gif"] {
          display: none;
        }
    }
  }   
  /* TABLET USERS */
  /* Structurally change the site on a tablet device */
@media only screen and (max-width: 768px) {
  /* Modify the navigation */
  nav ul {
    flex-direction: column;
  }

  /* Adjust the main content */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  /* Resize the images */
  main img {
    width: 100%;
    height: auto;
  }
}

/* Interactively change the site on a tablet device */
@media only screen and (max-width: 768px) {
  /* Add hover effect on images */
  main img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

/* TABLET USERS */
@media only screen and (max-width: 768px) {
    /* Modify the navigation */
    nav ul {
      flex-direction: column;
    }
  
    /* Adjust the main content */
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  
    /* Resize the images */
    main img {
      width: 100%;
      height: auto;
    }
  }
  
  /* Interactively change the site on a tablet device */
  @media only screen and (max-width: 768px) {
    /* Add hover effect on images */
    main img:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
  

  